body {
  margin: 0;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
main {
  color: #48555b;
}
.header {
  height: 100vh;
}

.header__fon {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(./images/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__fon__title {
  position: relative;
  top: 42%;
  left: 0px;
  font-size: 50px;
  color: rgb(255, 255, 255);
  font-weight: 400;
}
.header__fon__content {
  font-size: 20px;
  top: 36%;
}

.header__fon__contentDown {
  font-size: 13px;
  top: 60%;
}

.header__fon > div > img {
  position: relative;
  top: 2%;
  left: 0.5%;
}
.header__fon > div {
  text-align: center;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 430px) {
  .header__fon__title {
    font-size: 30px;
  }
  .header__fon__content {
    font-size: 10px;
    top: 38%;
  }
  .header__fon__contentDown {
    font-size: 10px;
    top: 66%;
  }
}

.header__nav {
  border: 1px solid #91909079;
  display: -webkit-box;
}
.header__nav > img {
  margin: 25px;
  position: relative;
  left: 150%;
  top: 3px;
}
.header__nav > ul > li {
  list-style-type: none;
  display: inline;
  margin: 1.5%;
  color: #48555b;
}
.header__nav > ul {
  position: relative;
  left: 50%;
  padding-top: 1%;
  width: 35vw;
}

.burger {
  background-image: url(./images/burger.png);
  height: 55px;
  width: 55px;
  background-position: center;
  background-size: cover;
  position: relative;
  left: 40%;
  top: 8px;
  display: none;
}

@media screen and (max-width: 430px) {
  .header__nav > img {
    left: 0%;
  }
  .header__nav > ul {
    display: none;
  }
  .burger {
    display: block;
  }
}

.main__title {
  display: grid;
  justify-content: center;
}

.main__title > div {
  position: relative;
  left: 25px;
  top: -10px;
}
.main__content__story {
  display: grid;
  justify-content: center;
  line-height: 2rem;
}
.flex {
  display: flex;
}

.main__content__story__text {
  width: 400px;
}

.main__content__story__foto {
  position: relative;
  top: 22%;
  left: 10%;
  display: flex;
  height: 224px;
  color: white;
  font-size: 1.9rem;
  font-weight: bold;
}
.foto1 {
  display: block;
  background-image: url(./images/mainFoto1.png);
  height: 224px;
  width: 140px;
  margin-right: 20px;
}
.foto2 {
  display: block;
  background-image: url(./images/mainFoto2.png);
  height: 224px;
  width: 140px;
  margin-right: 20px;
}
.foto3 {
  display: block;
  background-image: url(./images/mainFoto3.png);
  height: 224px;
  width: 140px;
}

.main__content__story__span {
  position: relative;
  top: 10%;
  left: 10%;
}

@media screen and (max-width: 430px) {
  .main__content__story__foto {
    top: 0%;
    left: 0%;
    display: grid;
    justify-content: center;
    height: 115vh;
  }
  .main__content__story__text {
    width: 80vw;
    align-items: center;
  }
  .flex {
    display: block;
  }
  .foto1 {
    margin-right: 0px;
    position: relative;
    left: 40%;
  }
  .foto2 {
    margin-right: 0px;
    margin-top: 20px;
    position: relative;
    right: 40%;
  }
  .foto3 {
    margin-top: 20px;
    position: relative;
    left: 40%;
  }

  .Phone__span1 {
    left: -80%;
    top: 30%;
    color: white;
    background-color: #3c3c3c6d;
  }
  .Phone__span2 {
    left: 120%;
    top: 30%;
    color: white;
    background-color: #3c3c3c6d;
  }
  .Phone__span3 {
    left: -80%;
    top: 30%;
    color: white;
    background-color: #3c3c3c6d;
  }
}

.main__services__title {
  display: flex;
}
.main__services__title__content {
  position: relative;
  left: 15%;
  width: 42%;
  font-size: 0.8rem;
  line-height: 1.3rem;
}
.main__services__title__button {
  background-color: #00a4e5;
  border: 0px;
  height: 45px;
  width: 15%;
  color: white;
  font-weight: bold;
  position: relative;
  left: 20%;
  top: 8px;
}

@media screen and (max-width: 430px) {
  .main__services__title {
    display: block;
  }
  .main__services__title > div {
    display: grid;
    justify-content: center;
  }
  .main__services__title__content {
    width: 80vw;
    left: 5%;
  }
  .main__services__title__button {
    height: 30px;
    width: 150px;
  }
}

.main__services__content {
  display: grid;
  justify-content: center;
}
.main__services__content > div > div {
  width: 23vw;
  border: 1px solid #91909079;
}
.main__services__content > div > div > div {
  padding: 8%;
}

@media screen and (max-width: 430px) {
  .main__services__content > div > div {
    width: 80vw;
  }
  .main__services__content {
    position: relative;
    top: 1.5%;
  }
}

.main__city {
  background-image: url(./images/bgDown.png);
  height: 66vh;
  width: 98.9vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.main__city__title {
  display: grid;
  justify-content: center;
  position: relative;
  top: 15%;
}
.main__city__title > p {
  font-size: 2rem;
  font-weight: bold;
}

.main__city__button {
  background-color: #00a4e5;
  border: 0px;
  height: 45px;
  width: 45%;
  color: white;
  font-weight: bold;
  position: relative;
  left: 27%;
  top: 8px;
}
@media screen and (max-width: 430px) {
  .main__city__title > p {
    font-size: 1.5rem;
    font-weight: bold;
    width: 65vw;
    position: relative;
    left: 20%;
  }
  .main__city__button {
    width: 55%;
  }
}
.main__form > div {
  display: grid;
  justify-content: center;
}

.main__form__title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.main__form__title > p {
  margin: 19px;
}

#Email {
  width: 17vw;
  height: 5vh;
  align-items: center;
  padding-left: 15px;
  border: 0px;
}
.form {
  margin: 16px;
}

.main__form__button {
  background-color: #00a4e5;
  border: 0px;
  height: 40px;
  color: white;
  font-weight: bold;
  position: relative;
  left: -5px;
  border: 0px;
}

footer {
  color: white;
  margin: 0px;
}
.footer__PMarginZero {
  margin: 0px;
}

.footer__content {
  background-color: #141a20;
  justify-content: center;
  line-height: 3rem;
  display: flex;
}
.footer__content > div {
  padding-left: 50px;
}

.footer__content__block1 {
  font-size: 0.8rem;
  width: 20vw;
  line-height: 1.1rem;
  margin: 0px;
}
.footer__content__block2 {
  line-height: 1.1rem;
  font-weight: 600;
}
.footer__content__block3 {
  line-height: 1.5rem;
  font-size: 0.9rem;
}
.footer__content__block4 {
  position: relative;
  top: 50px;
}
.footer__content__block2__otstup {
  height: 20%;
}
#footer__content__block2__Up {
  line-height: 2.1rem;
  font-weight: 100;
}
#footer__content__block2__Up__adress {
  width: 10vw;
}

.footer__line {
  width: 84%;
  height: 2px;
  background-color: #91909079;
  display: none;
}
.footer__down {
  background-color: #171819;
  color: white;
  padding: 15px;
  display: grid;
  justify-content: center;
}

@media screen and (max-width: 430px) {
  .footer__content {
    display: block;
  }
  .footer__content__block1 {
    width: 80vw;
  }
  #footer__content__block2__Up__adress {
    width: 80vw;
  }
  .footer__content__block4 {
    top: 0px;
  }
  .footer__line {
    display: block;
  }
  .footer__down {
    font-size: 0.7rem;
  }
  #Email {
    width: 49vw;
  }
  .main__form__button {
    height: 35px;
  }
}
